@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="small-12 large-12 columns"><h2>Login</h2></div>
</div>

<div class="row">
    <div class="small-6 large-6 columns">
        <label class="input-label">Username
            <input id="username" type="text" class="large-12 input-label input-enter" placeholder="George Jetson" />
        </label>
    </div>
    <div class="small-6 large-6 columns">
        <label class="input-label">Password
            <input id="password" type="password" class="large-12 input-label input-enter" placeholder="******" />
        </label>
    </div>
</div>

<div class="row mid-gap"></div>

<div class="row">
    <div class="small-12 large-12 columns"><a href="#" class="button large btn-login">login</a></div>
</div>