@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="large-12 columns"><a href="/vehicle">Vehicles</a></div>
</div>

<div class="row">
    <div class="large-12 columns"><a href="/make">Makes</a></div>
</div>

<div class="row">
    <div class="large-12 columns"><a href="/report">Reports</a></div>
</div>