@using Auto.Web.Core
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="large-12 columns"><a href="/vehicle">Vehicles</a></div>
</div>

@if (Helper.CurrentUser.IsAdmin)
{
<div class="row">
    <div class="large-12 columns"><a href="/make">Makes</a></div>
</div>

<div class="row">
    <div class="large-12 columns"><a href="/report">Reports</a></div>
</div>
}